.conteiner{
    width: 100%;
    height: 400px;
    background-image: url('site.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteiner h1{
    font-size: 3em;
    color: #fff;
    text-shadow: 6px 1px 20px black;
}
